<a href="https://colab.research.google.com/github/DiegoSReco/python_para_economistas/blob/main/script_python_2_1_Objeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **2. Objetos básicos en Python**

- **¿Qué es un objeto en Python?**

  Un objeto es una unidad que combina datos (atributos) y las operaciones que   podemos realizar con esos datos (métodos). Como Python es un lenguaje de programación orientado a objetos, tipos de cosas básicas simples como números, cadenas de textos o listas son objetos.


- **¿Qué características tienen los objetos en Python?**
  
  Todo objeto en Python tiene tres características fundamentales:

     * **Identidad**: Un identificador único que lo distingue de otros objetos
     * **Tipo**: Define qué operaciones podemos realizar con el objeto
     * **Valor**: Los datos que contiene el objeto

En este segmento, exploraremos en detalle cada uno de estos objetos básicos, sus propiedades y las operaciones que podemos realizar con ellos.

## **2.1 Tipos de variables, su definición y operaciones básicas**

**Creación de variables**

La creación de variables en python es relativamente sencillo, para ello se tiene que seguir la siguiente estructura:
```
nombre_variable = "valor"

```

 Por ejemplo, para asignar el resultado de la siguiente suma `5 + 678` en un variable que llamaremos `z`:

In [ ]:
#Creamos z
z = 5 + 678
#Imprimimos resultados
print(z)

683

* Si queremos modificar con otro valor, por ejemplo `0`, simplemente asignamos un nuevo valor a `z`:

In [ ]:
z = 0
print(z)

0

* Para eliminar una variable utilizaremos el comando `del`:

In [ ]:
del z

* Para saber el tipo de variable utilizamos la función base `type()`:

In [ ]:
#Defino z
z = 5 + 678
#Tipo de variable
type(z)

int

### **Tipos de variables**

En Python y en general en los lenguajes de programación dos escenciales tipos de variables numéricas son los:

-  Enteros (int)

  - Representación de números sin decimales
  - Precisión ilimitada en Python 3
  - Uso en contadores, índices y cálculos exactos


- Punto Flotante (float)

  - Representación de números decimales
  - Precisión de hasta 15-17 dígitos decimales

#### **Numéricas**


1 . **Enteros**

In [ ]:
#Definir de enteros
edad = 25
temperatura_bajo_cero = -10
n_grande = 1_000_0

#Tipo de variable
print(type(edad),
      type(temperatura_bajo_cero),
      type(n_grande))

<class 'int'> <class 'int'> <class 'int'>

##### **Operaciones básicas con enteros**

In [ ]:
#Definir operaciones
suma = 5 + 3
resta = 10 - 4
multiplicacion = 3
division_entera = 7 // 2
modulo = 7 % 3      #  (resto de la división)
potencia = 2 ** 3

#Imprimir resultados
print("Resultado suma:", suma, "\n",
      "Resultado multiplicación:", multiplicacion, "\n",
      "Resultado potencia:", potencia)

Resultado suma: 8
 Resultado multiplicación: 12
 Resultado potencia: 8

2. **Números en coma flotante**

    Los números flotantes son numeros reales que se escriben utilizando un punto para distinguir la parte entera y la parte decimal.

In [ ]:
#Definir de flotantes
x = 2.0
y = 48.15162342
z = 3.2e12 #podemos utilizar notación científica

#Tipos flotantes
print(type(x), type(y), type(z))

<class 'float'> <class 'float'> <class 'float'>

 ##### Operaciones básicas con flotantes

In [ ]:
#Definir operaciones
suma = x + y
resta = x - y
multiplicacion = x * y
division_entera = 7.0 // 2.0
modulo = 7.0 % 3.0
potencia = 2.0 ** 3.0


#Imprimir resultados
print("Resultado suma:", suma, "\n",
      "Resultado multiplicación:", multiplicacion, "\n",
      "Resultado potencia:", potencia)

#Tipo de variables
print(type(potencia))

Resultado suma: 50.15162342
 Resultado multiplicación: 96.30324684
 Resultado potencia: 8.0
<class 'float'>

#### **Cadenas de texto (*strings*)**

Los tipo de variables cadenas de texto o texto son sucesiones de carácteres como letras, palabras, números, signos de puntuación, etc.  Para definir este tipo de variables en python podemos utilizar comillas sencillas `'string'`, comillas dobles `"string"` o comillas triples `'''string'''`.

* Por ejemplo:

In [ ]:
# Diferentes formas de crear strings
nombre = "Ana Ramirez Garcia"
calificación = "MB"
mensaje = '''Este es un texto
             que ocupa múltiples
              líneas'''
n_string = "10000"

#Imprimir tipo
print(n_string, type(n_string))

10000 <class 'str'>

##### **Operaciones básicas con cadenas**

**1. Concatenación**

Para la unión de cadenas Python ofrece varias alternativas. Las forma más comun es utilizar el signo `+` como los siguientes ejemplos:

In [ ]:
#Deinir concatenación
lema = "Casa " + " abierta " + " al " + " tiempo "
print(lema)

Casa  abierta  al  tiempo

  Podemos utilizar paréntesis para realizar concatenaciones `()`:

In [ ]:
#Deinir concatenación
lema_1 = ("Casa " " abierta " " al " " tiempo ")
print(lema_1)

Casa  abierta  al  tiempo

Además, es posible agregar variables a una cadena utilizando corchetes (`{}`) dentro de la cadena y la función`format()`:

In [ ]:
#Definir string con {}
string_1 = "Me gusta comer {} y {}"
#Definir variables
p1 = "hamburguesa"
p2 = "chilaquiles"
p3 = "sushi"
#Utilizo función format
print(string_1.format(p3,p2))

Me gusta comer sushi y chilaquiles

**2. Acceso a elementos de una cadena**

Para particionar las cadenas utilizamos la indexación de éstas. Es decir, los elementos de cada cadena que definamos tiene un **índice o posición** `(i)` que utilizaremos dentro de corchetes ( `[i]` ) para acceder a un elemento específico.

> **Observación 1**: En Python a diferencia de otros lenguajes de programación el índice de cualquier objeto comienza en 0.  


* Primero, debemos conocer la longitud de la cadena y para ello utilizaremos la
  función `len('string')`:

In [ ]:
#Elementos en una cadena (longitud de la cadena)
long_string = len(p3)
print(long_string)

5

* Para acceder al primero y último elemento de la cadena:

In [ ]:
#Primer elemento
print(p3[0])

#Ultimo elemento
print(p3[4])

#Otra forma de acceder al último elemento
print(p3[-1])

s
i
i

* Para tomar un rango de índices de la cadena utilizaremos la estructura `var[inicio,final]`

 Ejemplo:

In [ ]:
#Acceder a un rango de elementos
p3_r = p3[1:4]
print(p3_r)

#No se especifica el inicio (toma desde el inicio hasta el final definido )
p3_r = p3[:4]
print(p3_r)

#No se especifica el final (toma desde el i definido al final)
p3_r = p3[1:]
print(p3_r)

ush
sush
ushi

* Podemos arreglar los elementos de la cadena del final al incio, de tal forma que volteemos la cadena

   Utilizaremos `::-1` dentro del corchete:

In [ ]:
#Definimos cadena
x = 'roma'
#Arreglar elementos de fin a inicio (-1 representa el elemento final)
x_fin_inicio = x[::-1]

print(x_fin_inicio)

amor


> **Error Común 2** (**IndexError**): El índice computado está fuera del rango permitido.

In [ ]:
#Index Erro
print(x[5])

IndexError: string index out of range

 **3. Funciones aplicadas a cadenas**


Python  tiene una serie de funciones o métodos predefinidos que se utilizan exclusivamente en cadenas. Para ello seguiremos la siguiente sintáxis:

```
"var_cadena"."nombre_función"()
```
* Conversión a mayúsculas, minúculas, capitalización y título

In [ ]:
#Definir cadena
c1_est = "Estado de México"

#Convertir a mayúsculas
c1_est = c1_est.upper()
print(c1_est)

#Convertir a minúsculas
c1_est = c1_est.lower()
print(c1_est)

#Convertir primera letra en mayúscula
c1_est = c1_est.capitalize()
print(c1_est)

#Convertir a formato de título
c1_est = c1_est.title()
print(c1_est)

ESTADO DE MÉXICO
estado de méxico
Estado de méxico
Estado De México

* Separación y unión de cadenas

   Para dividir una cadena en multiples se utiliza la función `split()` y en este caso para que el método se ejecute la función necesita la entrada de un argumento que será el patrón por el que dividiremos la cadena:
   
   ```
   var_cadena.split("patrón")
   ```
   Para la unión de cadenas de una lista la sintáxis será al revés:

   ```
   "patrón".join(var_cadena)
   ```
   
   Ejemplo:

In [ ]:
#Dividir cadena por espacio
list_cadena = c1_est.split(' ') #El resultado será una lista de cadenas
print(list_cadena)

#Unir cadenas de una lista
c1_est_join = ",".join(list_cadena)
print(c1_est_join)

['Estado', 'De', 'México']
Estado,De,México

* **Limpieza de cadenas**

  La limpieza es una tarea cotidiana en el análisis de datos, ya que   nos podemos econtrar con inconsistencias como prefijos o sufijos en   blanco, saltos de líneas, espacios adicionales, carácteres incorrectos, etc.
  
  Para la eliminar las inconsistencias mencionadas se utiliza la función `strip()`.

  Ejemplo:

In [ ]:
#Eliminación de espacios
c3_est = " Tlanepantla de Baz "
print(c3_est)
#Sin espacios
print(c3_est.strip(" "))

 Tlanepantla de Baz
Tlanepantla de Baz

In [ ]:
#Patrones específicos
c4_pib_Ags = "{150.2}"
#Aplicar strip para limpiar la cifra
c4_pib_Ags = c4_pib_Ags.strip("{}")
print(c4_pib_Ags )

150.2

   
   * Para el reemplazo de carácteres incorrectos por los correctos    utilizamos la función `replace()` con la siguiente sintáxis:
   
   ```
    cadena_incorrecta.replace('patrón incorrecto', 'patrón correcto')
   ```

In [ ]:
#Definir cadena
c4_pib_Ags = "El PIB de Aguascalientes en 2023 ascendió a 150.2 miles de millones de pesos"

#Aplicar función
c4_pib_Ags_buena = c4_pib_Ags.replace('150.2 ', "170.3 ")

print(c4_pib_Ags_buena)

El PIB de Aguascalientes en 2023 ascendió a 170.3 miles de millones de pesos

In [ ]:
#Con saltos de línes
c5_pib_Ags = "El\nPIB de Aguascalientes\nen 2023 ascendió a\n150.2 miles\nde millones de pesos"
print(c5_pib_Ags, "\n" )

#Reemplazar con espacios
c5_pib_Ags_buena = c5_pib_Ags.replace("\n", " ")
print(c5_pib_Ags_buena)

El
PIB de Aguascalientes
en 2023 ascendió a
150.2 miles
de millones de pesos

El PIB de Aguascalientes en 2023 ascendió a 150.2 miles de millones de pesos

* Para encontrar la posición de patrones específicos en una cadena utilizamos la función `find()`

   Sintáxis:
   
   ```
   cadena.find('patrón')
   ```
   Si el patrón especificado se localiza en la cadena el resultado será el índice `(i)` inicial de esa patrón. El resultado es útil para realizar extracciones de patrones por índice.
   
   Si no se encuentra el patrón en la cadena el resultado será -1
   
   Ejemplo:

In [ ]:
#Cadena
c4_pib_Ags = "El PIB de Aguascalientes en 2023 ascendió a 150.2 miles de millones de pesos"
#Encontrar patrón PIB
index_PIB = c4_pib_Ags.find("PIB")
#Imprimir resultado
print(index_PIB)

#Extracción de patrón
len_path = len("PIB") #Tamaño de patrón
#Extracción por índice
print(c4_pib_Ags[index_PIB : index_PIB + len_path])


#Buscar patrón que no está en la cadena
c4_pib_Ags.find("CDMX")

3
PIB

-1


En la siguiente tabla se muestra el resumen de funciones básicas aplicadas a cadenas y adicionales como son las de verificación de contenido.

**Resumen de funciones aplicadas a cadena**

| Método | Descripción | Ejemplo | Resultado |
|--------|-------------|----------|-----------|
| `lower()` | Convierte a minúsculas | `"HOLA".lower()` | `"hola"` |
| `upper()` | Convierte a mayúsculas | `"hola".upper()` | `"HOLA"` |
| `strip()` | Elimina espacios inicio/final | `"  hola  ".strip()` | `"hola"` |
| `replace()` | Reemplaza texto | `"hola mundo".replace("o","0")` | `"h0la mund0"` |
| `split()` | Divide en lista | `"a,b,c".split(",")` | `["a","b","c"]` |
| `join()` | Une lista en string | `",".join(["a","b"])` | `"a,b"` |
| `startswith()` | Verifica inicio | `"hola".startswith("ho")` | `True` |
| `endswith()` | Verifica final | `"hola.txt".endswith(".txt")` | `True` |
| `find()` | Busca posición | `"hola mundo".find("mundo")` | `5` |
| `count()` | Cuenta ocurrencias | `"banana".count("a")` | `3` |
| `capitalize()` | Primera mayúscula | `"hola".capitalize()` | `"Hola"` |
| `title()` | Capitaliza palabras | `"hola mundo".title()` | `"Hola Mundo"` |
| `isdigit()` | Verifica si son dígitos | `"123".isdigit()` | `True` |
| `isalpha()` | Verifica si son letras | `"abc".isalpha()` | `True` |
| `isalnum()` | Verifica alfanumérico | `"abc123".isalnum()` | `True` |

**4. Conversión variables de cadenas de texto a enteros o flotantes**

En el análisis de datos, es común encontrar valores numéricos almacenados como cadenas de texto. Esto puede suceder, por ejemplo, al importar datos desde archivos CSV o al interactuar con APIs. Para realizar cálculos o análisis, necesitamos convertir estas cadenas a tipos de datos numéricos como enteros (int) o flotantes (float).

*  **4.1. Conversión básica con `int()` y` float()`**
   
   La función `int() `convierte una cadena que representa un número entero a un tipo     de dato entero.

   La función `float()` convierte una cadena que representa un número decimal a un     tipo de dato flotante.

In [ ]:
#Convertir a entero
ingreso_mensual_str = "25000"
ingreso_mensual = int(ingreso_mensual_str)

print(type(ingreso_mensual))  # Salida: <class 'int'>

25000
<class 'int'>

In [ ]:
#Convertir a flotante
pib_str = "2450.75"
pib = float(pib_str)

print(type(pib))  # Salida: <class 'float'>

<class 'float'>

In [ ]:
#Convertir valor alpha a entero
edad_str = "veinte"
# Esto genera un ValueError
edad = int(edad_str)

ValueError: invalid literal for int() with base 10: 'veinte'


> **Error Común 3** (**ValueError**):  Sucede cuando una función recibe un argumento del tipo correcto pero con un valor inapropiado. Por ejemplo, la función `int()` espera una cadena de un valor númerico pero recibe una cadena con un valor alpha. Aunque recibe un argumento del tipo que espera, el valor en sí no es válido para lo que la función no está diseñada.

#### **Variables de Fecha y Tiempo**
Otro tipo de variable en el análisis de datos son las fechas y el tiempo. En Python para definir este tipo de variables se utiliza el modulo **datetime**.

Para definir una fecha se sigue la siguiente sintaxis:

```
date(year, month , day)
```
Ejemplo:

- Definir primero de enero de 2025:

In [ ]:
#Importamos modulo
from datetime import date
#Definimos fecha
day_1 = date(year = 2025, month = 1, day = 1)
#Tipo de variable
type_day_1 = type(day_1)

print( "Fecha", day_1, "es una variable tipo", type_day_1 )

Fecha 2025-01-01 es una variable tipo <class 'datetime.date'>

- Se puede acceder los atributos de este tipo de variable que serán el año, el mes y el día.

In [ ]:
#Año
print(day_1.year)
print(day_1.month)
print(day_1.day)

2025
1
1

- Se puede aplicar funciones especiales para este tipo de variables.

  Por ejemplo, si se requiere el día de la seman en el que ocurrió un específico se utiliza `weeday()`. En donde el lunes será 0 y el domingo 6.

In [ ]:
#Día de la semana
print(day_1.weekday())

2

* Si se requiere transformar la fecha a formato de texto se utiliza `strftime()`, la cual toma como argumento el formato de fecha:

  `fecha.strftime("formato_fecha")`

   Ejemplos:

In [ ]:
#Formato 1: fecha completa
print(day_1.strftime("%d-%m-%Y"))

#Formato 2: fecha volteada
print(day_1.strftime("%Y-%m-%d"))

#Formato 3: Mes abreviado
print(day_1.strftime("%b"))

#Formato 4: Mes
print(day_1.strftime("%B"))

#Formato 5: completa en abreviaciones
print(day_1.strftime("%c"))

01-01-2025
2025-01-01
Jan
January
Wed Jan  1 00:00:00 2025

Para consultar la lista completa de los diferentes formatos consultar disponibles consultar: [Lista de strftime formatos](https://strftime.org/) .

**Fecha con tiempo (*date-time*)**

Para crear un varaible de fecha incluido el tiempo en horas, minutos y segundos se utiliza datetime.

In [ ]:
#Importar modulo
from datetime import datetime

#Definir fecha con tiempo
day_comp = datetime(year = 2025, month = 1, day = 1,
                    hour = 12, minute = 30, second = 55 )
#Tipo de variable
type_day_comp = type(day_comp)

print( "Fecha", day_comp, "es una variable tipo", type_day_comp )

Fecha 2025-01-01 12:30:55 es una variable tipo <class 'datetime.datetime'>

**Funciones y operaciones con variables fecha-tiempo**

Otras funciones adicionales que son útiles son `today()` o `now()` , las cuales devuelven el día y la hora exacta con base al sistema de tu pc en formato *datetime*.

Ejemplo:

In [ ]:
#Importar modulo
import datetime as dt

#Definir la función now
tiempo_actual = dt.datetime.now()
#Resultado
print(tiempo_actual)
#Definir la función today
fecha_hoy = dt.datetime.today()
#Resultado
print(type(fecha_hoy))

2025-01-03 05:46:38.986199
<class 'datetime.datetime'>

**Timestamp**

En diversas bases de datos y sistema podemos encontrar variables tipo **timestamp** que representan el número de segundos transcurridos desde el "epoch" de Unix (1 de enero de 1970, 00:00:00 UTC). Estas variables son útiles para almacenar, registrar y realizar calculos de entre períodos de tiempo de forma eficiente.

- Para definir una variable timestamp usamos la sintáxis:

  `datatime.timestamp(fecha)`
  
  Ejemplo:

In [ ]:
#Definir fecha en timestamp
fecha_hoy_tstamp = dt.datetime.timestamp(fecha_hoy)
print(f"Fecha de hoy en timestamp: {fecha_hoy_tstamp}")

#Definir tipo
tipo_fecha_hoy_tstamp = type(fecha_hoy_tstamp)
print(tipo_fecha_hoy_tstamp)

Fecha de hoy en timestamp: 1735856241.578291
<class 'float'>

* Para convertir una variable tipo stimestamp a fecha se utiliza la función `fromtimestamp()`:

In [ ]:
#Transformar timestamp a fecha
fecha_hoy = dt.datetime.fromtimestamp(fecha_hoy_tstamp)
print(f"Fecha de hoy: {fecha_hoy}")

Fecha de hoy: 2025-01-02 22:17:21.578291

 ##### **Operaciones con fecha-tiempo**

Con variables tipo fecha o tiempo podemos medir el tiempo ya sea en años, meses, días, horas, minutos o segundos.

Por ejemplo:

- ¿Cuántos días faltan para mi cumpleaños?

In [ ]:
#Definir fecha inicial
day_hoy = dt.date.today()

#Definir fecha final
day_cumpleaños = date(year = 2025, month = 3, day = 12)

#Diferencia
day_dif = day_cumpleaños - day_hoy

print("Para mi cumpleaños faltan", day_dif)

Para mi cumpleaños faltan 68 days, 0:00:00

- ¿Cuánto tiempo tarda en ejecutarse un algoritmo o modelo estadístico?

In [ ]:
#Definir inicio de ejecución
inicio_ejecución = dt.datetime.now()

#Ejecutar algoritmo o modelo

#Definir tiempo transcurrido de la ejecución
tiempo_ejecución =  dt.datetime.now()  - inicio_ejecución

print(f"Tiempo de ejecución: {tiempo_ejecución}")

Tiempo de ejecución: 0:00:00.000065

####**Booleanos**
*Las* **variables booleanas** son fundamentales en programación, ya representan valores de **verdadero o falso** lo cual es de gran utilidad en la toma de decisión, definición de características y la creación de control de flujos en programación.

En Python las variables booleansas se declaran como `True` y `False `. En este caso es obligatorio utilizar la pimera letra como mayúscula.

En el análisis de datos utilizamos las variables booleanas para definir caráterísticas

In [ ]:
#Ejemplos
estudiante_activo = True
mujer = False
trabajadro_informal = True

Otra carácterística de las variables booleanas en programción es el valor númerico que toman:

 * `True = 1 `
 * `False = 0`

Lo anterior debido a la herencia histórica de algunos lenguajes de programación, lo cuales no tenían un tipo de variable boolean y utilizaban 0 y 1 para represetnar falsos y verdaderos.

In [ ]:
# Conversión directa a entero
num_true = int(True)
num_false = int(False)
print("El valor númerico de True será", num_true, ",mientras que el False es", num_false)

El valor númerico de True será 1 mientras que el False es 0

##### **Operadores de Comparación**

Cuando trabajamos con lenguajes de programación y realizamos comparaciones matemáticas el resultado será un valor booleano. En Python, podemos realizar las siguientes comparaciones:

- Igualdad: `==`
- Desigualdad: `!=`
- Mayor que: `>`
- Menor que: `<`
- Mayor o igual que: `>=`
- Menor o igual que: `<=`
- Contiene   `in`
- No contiene  `not in`

Ejemplos:

In [ ]:
# Definir comparaciones
mayor_que = 5 > 3
print(mayor_que)

menor_que = 5 < 3
print(menor_que)

igual_a = 5 == 3
print(igual_a)

diferente_de = 5 != 3
print(diferente_de)

mayor_igual = 5 >= 5
print(mayor_igual)

menor_igual = 5 <= 4
print(menor_igual)

True
False
False
True
True
False

In [ ]:
#Definir  comparaciones 2
edad = 18
mayor_de_edad = edad >= 18
print(mayor_de_edad)

num = 999
par = num % 2 == 0
print(par)

True
False

Operadores Lógicos

Adicional a los operadores de comparación, otros elementos fundamentles son los operadors lógicos. En Python se definen los **operadores lógicos** de la siguiente forma `and`, `or` y `not`.

Para entender como se relacionan los operadores lógicos con los valores booleanos (`True` o `False`) se utilizan las tablas de la verdad:

In [ ]:
#Aplicar operador and
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
#Aplicar operador or
print(True  or True)
print(True  or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
#Aplicar operador not
print(not(True))
print(not(False))

False
True

In [ ]:
#Ejercicio
#1. ¿Cuál es el resultado de las siguientes declaraciones?
r1 = not(True) or False
r2 = not(False) or not(False)

#print(r1,r2)

Tanto los operadores de comparación así como los operados lógicos son fundamentales en programación y se utilizan constantemente para:

- Tomar decisiones en estructuras condicionales como `if`, `elif`, `else`
- Controlar bucles mientras se cumple una condición
- Validar datos y entrada del usuario
- Realizar verificaciones lógicas en el código